nav a:hover {
	cursor: pointer;
	text-decoration: underline;
}

button,
.about-section button {
	cursor: pointer;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0 10px;
	width: 100%;
	overflow-x: hidden;
}


.nav-bar {
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 10px;
}

.nav-link {
	text-decoration: none;
	color: black;
}

.nav-bar-content {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
	font-size: large;
}

.hamburger {
	display: none;
	font-size: 24px;
	background: none;
	border: none;
	cursor: pointer;
}
.logo-small {
	display: none;
	font-size: 24px;
	background: none;
	border: none;
	cursor: pointer;
}

/* content */

.box{
    width: 200px;
    height: 100px;
    color: plum;
    text-align: center;
    margin: 50px 0;
}


.static{
    background-color: rgb(67, 146, 215);
}
.relative{
    position: relative;
    background-color: yellowgreen;
    top: 20px;
    left: 30px;
}

/* container */
.container{
    position: relative;
     width: 500px;
    height: 150px;
    background-color: blue;
    margin: 20px 0;

}
.absolute{
    background-color: crimson;
    position: absolute;
    left:  0;
}

.fixed{
    background-color: purple;
    position: fixed;
    top: 10px;
    right: 10px;
}

.sticky-wrapper{
    margin-top: 50px;
    background-color: gold;
    padding: 10px;
}
.sticky{
    background-color: darkblue;
    position: -webkit-sticky;
    top: 0;
}
/* ---------------- Responsive ---------------- */


@media (max-width:768px) {
	.hamburger {
		display: block;
	}
	.logo-small {
		display: block;
	}

	.nav-bar-content {
		position: absolute;
		top: 60px;
		right: 0;
		background: white;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		padding: 20px;
		display: none;
		width: 200px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}

	.nav-bar-content.active {
		display: flex;
	}



}

/* 
mobile max-width:600px
tablet max-width:768px
laptop max-width:1024px  min-width:768px
desktop min-width:1200px 
*/