.nav-link:hover,
.logo:hover {
    cursor: pointer;
    text-decoration: underline;
}

button,
.order-btn,
.best-btn {
    cursor: pointer;
}

.order-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid #ff69b4;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.2s;

}

.best-btn:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.2s;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0 10px;
    width: 100%;
    overflow-x: hidden;
}


.nav-bar {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-bar-content {
    width: 80%;
    display: flex;
    justify-content: center;

    .nav-bar-content {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    font-size: large;
}

.hero {
    height: 100vh;
    background: url(./assets/donut111.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    background-position: center center;
    background-size: cover;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

.hero-content {
    font-size: 3rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-weight: 300;
    justify-content: center;
    width: 60%;
}

.order-btn {
    padding: 10px;
    width: fit-content;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.best-selling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    gap: 5px;
}

.donut {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.donut-img {

    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}



.btn-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.best-btn {
    padding: 10px;
    width: fit-content;
    background-color: white;
    color: black;
    border: 1px solid black;

}

/* 
mobile max-width:600px
tablet max-width:768px
laptop max-width:1024px  min-width:768px
desktop min-width:1200px 
*/



/* footer */
.footer {
    background-color: rgb(207, 202, 202);
    padding: 40px 20px;
    text-align: center
}

.footer h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.footer p {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 20px;

}

.subscribe{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.subscribe input{

}
.subscribe button:hover{

}

.social-icons a{
margin: 0 8px;
font-size: 1.2rem;
text-decoration: none;
}
.social-icon a:hover{

}
.footer .copyright{
    margin-top: 15px;
    font-size: 0.8rem;
    color: #aaa;
}

@media (max-width:600px) {
    
}